/* name section */
header {
  text-align: center;
  margin-bottom: 0;
}
#details,
h1,
h2,
h3,
p {
  margin: 0;
}
/* education section */
.edu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu-header h3 {
  margin: 0;
}

.edu-date {
  font-style: italic;
}

/* experience section */

.exp-item {
  margin-bottom: 25px;
}
.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exp-position {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

/* project section */
.pro-item {
  margin-bottom: 25px;
}
.pro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro-position {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

/* skill section */
.skill {
    font-weight: bolder;
}